body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    background-color: white;
}



.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    color: #F9FAF8;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  padding-right: 10px;
}

.headerlinks {
  display: flex;
  margin-left: auto;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    color: #F9FAF8;
  }

  .headertop {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
  }

  .headerbottom {
    display: flex;
    justify-content: space-around;
    min-width: 1000px;
  }
  .contentno1,
  .contentno1image {
    display: flex;
   
  }

  .contentno1{
    gap: 20px
  }
  .websiteawesome {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    max-width: 350px;
    justify-content: space-evenly;
  }

  .herosecondarytext {
    color: white;
    font-size: 18px;
  }

  .heromaintext {
    font-size: 36px;
    font-weight:bolder;
    color: #F9FAF8;
  }

  .calltobutton {
    width: 150px;
    height: 40px;
    background-color: #3882F6;
    border-radius: 10px;
    font-size: 20px;
    color: white;
  }

  .youtubebutton {
    width: 150px;
    height: 70px;
    background-color: red;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
  }




  .middlecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400PX;
    padding-top: 20px;
    margin-top: 20px;
  }

  .randominformation {
    font-size: 36px;
    font-weight: bolder;
    font: #1F2937;
    padding: 30px;
  }

  .informationboxes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .boxes {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    align-items: center;
  }
  
  .imagebox {
    display: flex;
    border-radius: 5px;
    height: 300px;
    width: 200px;
    justify-content: space-evenly;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }

img {
  border-radius: 5px;
  contain: content;
  max-height: 300px;
  max-width: 250px;
}

  .text {
    text-align: center;
    width: 250px;
    font-size: 18px;
}

.quotecon {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 20px;
    margin-top: 20px;
    max-width: 550px;
    align-self: center;
    background-color: #E5E7EB;
  }

.toptext {
  display: flex;
  font-size: 28px;
  font-style: italic;
  color: #1F2937;

}

.signature {
  display: flex;
  justify-content: flex-end;
}
.quoteboxbackground {
  display: flex;
  border: 1px;
  min-width: 100%;
  background-color: #E5E7EB;
  justify-content: center;
  margin-top: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.containerquote {
  display: flex;
  min-height: 600px;
  border: 1px;
}

.calltobox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.callcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882F6;
  max-height: 100px;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
  width: 700px;
}

.calltext {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: white;
  font-size: 18px;
}

.smallheader {
  font: bold;
  color: white;
  font-size: 24px;
  padding-bottom: 5px;
}

.inputtext {
  color: white;
  font-size: 18px;
}

.send {
  font-size: 18px;
}





.footer {
  display: flex;
  background-color: #1F2937;
  height: 60px;
  min-width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}

.footertext {
  color: white;
}

